* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box
}

body {
    background-color: #D6CCC2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
} 
.container {
    border-radius: 10px;
    box-shadow: 0 0 10px 0 black;
    width: 500px;
    height: 400px;
    background-color: #EDEDE9;
    position: relative;
}
#quiz-question {
    font-size: 2rem;
    padding: 20px;
    text-align: center;
}
ul {
    list-style: none;
    margin-left: 40px;
}
li {
    font-size: 1.2rem;
    margin: 10px;
    padding: 5px;
    cursor: pointer;
}
#submit {
    background-color: #c9ada7;
    border: none;
    font-size: 1.2rem;
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 8px;
    border-radius: 0 0 10px 10px;
}
#submit:hover {
    background-color: #b2967d;
    cursor: pointer;
}